<!DOCTYPE html>
<html>
<head>
    <title>Account Management</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <h1>Welcome to the Account Management System</h1>
        <h2>Manage Your Accounts Easily</h2>
        <a href="/view">View All Accounts</a>
        <a href="/search">Search Accounts</a>

        <h2>Add Account</h2>
        <form method="POST" action="/add">
            <label for="name">Name:</label>
            <input type="text" name="name" required /><br />
            <label for="user">Username/Email:</label>
            <input type="text" name="user" required /><br />
            <label for="password">Password:</label>
            <input type="password" name="password" required /><br />
            <label for="category">Category:</label>
            <input type="text" name="category" required /><br />
            <label for="cdate">Date:</label>
            <input type="date" name="cdate" required /><br />
            <input type="submit" value="Add Account" />
        </form>
    </div>
</body>
</html>
